.sectionList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.TitleListContainer{
    display: flex;
    justify-content: flex-start;
    padding: 10px;

}

.ListTitle{
    margin-left: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.tableFooter {
    background-color: #212529;
    padding: 8px 0px;
    width: 100%;
    font-weight: 500;
    text-align: left;
    font-size: 0.7rem;
    color: #f1f1f1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonList {
    border: none;
    padding: 7px 14px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 4px;
  }
  
  .activeButton {
    color: white;
    background: #185adb;
  }
  
  .inactiveButton {
    color: #212529;
    background: #f9f9f9;
  }


  .Table {
    border-collapse: collapse;
    border: none;
    width: 100%;
    line-height: normal;
  }
  
  .tableRowHeader {
    background-color: transparent;
    transition: all 0.25s ease;
    border-radius: 10px;
  }
  
  .tableHeader {
    background-color: #212529;
    padding: 12px;
    text-align: left;
    font-size: 0.6rem;
    color: #f1f1f1;
    
  }
  
  .tableHeader:first-child {
    border-top-left-radius: 15px;
  }
  
  .tableHeader:last-child {
    border-top-right-radius: 15px;
  }
  
  .tableRowItems {
    cursor: auto;
  }
  
  .tableRowItems:nth-child(odd) {
    background-color: #212529;
  }
  .tableRowItems{
    background-color: #212529;
  }

  .tableCell {
    padding: 12px;
    font-size: 0.6rem;
    color: #f9f9f9;
  }

  .ContainerList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;

  }
  
  .ListContent {
    width: 210px;
    font-size: 0.65rem
  }


  .tableHeader.c4{
    font-size: 0px;
    width: 0px;
  }
  .tableCell.c4{
    font-size: 0px;
    width: 0px;
  }



  @media (min-width: 426px){
    .ListContent {
      width: 500px;

    }
    .ContainerList {
      width: 500px;
    }
    .tableHeader.c4{
      font-size: 14px;
      width: fit-content;
    }
    .tableCell.c4{
      font-size: 14px;
      width: fit-content;
    }
    

}

@media (min-width: 769px){
  .ListContent {
    width: 550px;
  }
  .ContainerList {
    width: 550px;
  }
  .tableHeader.c4{
    font-size: 14px;
    width: fit-content;
  }
  .tableCell.c4{
    font-size: 14px;
    width: fit-content;
  }
}