.Products{
    width: 75%;
    background-color: #FBFBFB;
    height: 100%;


}

.MainContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


@media (min-width: 769px){
    .Products{
        width: 80%;
    }
}