.ContainerSumUp{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    opacity: 70%;
    height: 25%;
}
.TitleContainer{
    border-bottom: #FBFBFB solid 1px;
}
.SumUpTitle{
    color:#FBFBFB;
    padding: 5px;
    margin: 15px;

}

.ContentSumUP{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FBFBFB;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 90%;
}

.cardLast{
    background-color: #343434;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FBFBFB;
    height: 90%;
}

.IconUser2{
        border: 50%;
        width: 50%;
        padding: 5px;
    
}


.cardTotal{
    background-color: #343434;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FBFBFB;
    height: 90%;
}

h5{
    margin:5px
}

span{
    margin:5px
}



@media (min-width: 426px){
    .ContentSumUP{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
}



@media (min-width: 769px){
    .ContentSumUP{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
}
