.Users{
    width: 75%;
    background-color: #FBFBFB;
    height: 100%;


}

.MainContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}


@media (min-width: 769px){
    .Users{
        width: 80%;
    }
}