.ContainerSumUp{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #212529;
    opacity: 100%;
    border-radius: 25px;
    border: 2px solid #79ffa0;
    height: 30%;
    padding-bottom: 10px;

}

.TitleContainer{
    border-bottom: #FBFBFB solid 1px;
    background-color: black;
    width: 100%;
    text-align: center;
    height: 50px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.SumUpTitle{
    color:#FBFBFB;
    padding: 5px;
    margin: 10px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 19px;

}

.ContentSumUP{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #FBFBFB;
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 30px;
    
}

.cardLast{
    background-color: #212529;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FBFBFB;
    border: 1px solid #FBFBFB;
    border-radius: 20px;
    transition: 100ms;
    font-size: 12px;
}

.cardLast:hover{
    background-color: #FBFBFB;
    opacity: 95%;
    color: #212529;
}
.cardLast h5{
    font-size: 15px;
}

.IconUser{
        border: 50%;
        width: 30%;
        padding: 5px;
    
}


.cardTotal{
    background-color: #212529;
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FBFBFB;
    border: 1px solid #FBFBFB;
    border-radius: 20px;
    font-size: 12px;
}
.cardTotal h5{
    font-size: 15px;
}

.cardTotal:hover{
    background-color: #FBFBFB;
    opacity: 95%;
    color: #212529;
}

h5{
    margin:5px
}

span{
    margin:5px
}