.SubContainerSumUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.CategoriesList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;

}
.CategoriesList h5{
    font-size: 13px;
}

.cardTotalCategories{
    width: 80%;
    background-color: #212529;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FBFBFB;
    height: 90%;
    border: 1px solid #FBFBFB;
    font-size: 12px;
   
}
.cardTotalCategories:hover{
    background-color: #FBFBFB;
    opacity: 95%;
    color: #212529;
}


.CategoriesTitle{
    color: #FBFBFB;
    font-size: 15px;
}

.ChartActivities{
    background-color:#212529;
    width: 80%;
}


@media (min-width: 426px){
    .cardTotalCategories{
        width: 20%;
    
}

}

@media (min-width: 769px){
    .cardTotalCategories{
        width: 15%;
}
}