.Header{
    display: flex;
    flex-direction: row-reverse;
    background-color: black;

}

.UserLogged{
    display: flex;
    align-items: center;
    color:#79ffa0;
    padding: 5px;
    margin-right: 10px;
    font-size: 0.8rem;
}

.FotoUsuario{
    border: 50%;
    width: 2.2rem;
    padding: 5px;
}