.SideBar{
    display: block;
    width: 25%;
    background-color: black;
    color: #79ffa0;
    font-weight: bold;
    height: 100%;
}
.filler{
    height: 100%;
}
.logo{
    width: 70%;
    padding: 5px;
    margin: 10px;
}
.logo:hover{
    transition-property: border;
    animation: borderAnimation 600ms ease-in-out 1s;
}

@keyframes borderAnimation {
    20% {border-top: #79ffa0 1px solid;}
    25% {border-top: #79ffa0 2px solid;}
    45% {border-right: #79ffa0 1px solid;}
    50% {border-right: #79ffa0 2px solid;}
    70% {border-bottom: #79ffa0 1px solid;}
    75% {border-bottom: #79ffa0 2px solid;}
    95% {border-left: #79ffa0 1px solid;}
    10% {border-left: #79ffa0 2px solid;}
}

.NavigationContainer{
    margin-top: 20px;
    padding: 5px;
}

.NavigationLink{
    margin-top: 20px;
    padding: 5px;
    padding-left: 5px;
    font-size: 0.8rem;
    font-weight: lighter;
}
.NavigationLink:hover{
    border-bottom: 2px solid #212529;
    color: black;
    background-color: #79ffa0;
    opacity: 100%;
}

.Link{
    text-decoration: none;
    color: #79ffa0;
    transition: all 130ms;
}
.Link:hover:active:focus{
    text-decoration: none;
    color: black;
}

@media (min-width: 426px){
    .SideBar{
        width: 20%;
    }
    .logo{
        width: 50%;
    }
    .NavigationLink{
        margin-top: 20px;
        padding: 5px;
        padding-left: 10px;
        font-size: 1rem;
        font-weight: lighter;
    }
}


@media (min-width: 769px){
    .SideBar{
        width: 20%;
    }
    .logo{
        width: 45%;
    }
    .NavigationLink{
        margin-top: 20px;
        padding: 5px;
        padding-left: 10px;
        font-size: 1rem;
        font-weight: lighter;
    }
}