.MainSearchView{
    width: 75%;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.MainContentB{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    min-height: 100vh;
}


@media (min-width: 769px){
    .MainSearchView{
        width: 80%;
    }
}