@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');

*{
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', arial, sans-serif;
    margin: 0px;
}

.containerGeneral{
    display: flex;
    flex-direction: row;
  
}
